.site-header {
    border-top: 0px;
}



.card { 
    position:relative; 
    color: #9b61ff;
}

.card img { 
    position:absolute; 
    align-self:flex-end;
    top: 100%;
    left: 100%;
    display:none; 
    z-index:99; 
    max-width: 200px;
}

.card:hover img { display:block;}